html,
body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #5A1818;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/comandos/fon_comanda.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    z-index: -1;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
}

.header {
    background: #54141C;
    border-bottom: 2px solid rgba(189, 188, 188, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
}

.header__inner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;


    .h_logo {
        max-height: 45px;
        margin-left: 25px;
        transition: all .6s;

        &:hover {
            border-bottom-left-radius: 25%;
            border-bottom-right-radius: 25%;
            box-shadow: -10px 10px 10px 4px rgba(0, 0, 0, 0.65);
            background: linear-gradient(to right, #54141C, #3c0e13);
        }
    }

    .menu__list {
        display: flex;
        list-style: none;
    }

    .menu__list-link {
        text-transform: uppercase;
        color: #E6CC9A;
        font-family: "Arsenal SC", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
        letter-spacing: 1.3px;
        display: inline-block;
        padding: 0.8vw;
        transition: all .6s;
        border-bottom: transparent;

        &:hover {
            outline: 4px solid linear-gradient(to right, #54141C, #3c0e13);
            box-shadow: -10px 10px 10px 4px rgba(0, 0, 0, 0.65);
            background: linear-gradient(to right, #54141C, #3c0e13);
        }
    }

    .tel {
        display: flex;
        align-items: center;
        margin-right: 25px;
        padding: 0.1vw;
        transition: all .6s;
        border-bottom: transparent;

        img {
            height: 23px;
            margin-right: 8px;
        }

        &:hover {
            outline: 4px solid linear-gradient(to right, #54141C, #3c0e13);
            box-shadow: -10px 10px 10px 4px rgba(0, 0, 0, 0.65);
            background: linear-gradient(to right, #54141C, #3c0e13);
        }
    }

    .phone {
        color: rgb(230, 204, 154);
        font-family: "Arsenal SC", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 17px;
        letter-spacing: 1.2px;
    }
}

.comandos {
    /* font-family: "Amaranth", sans-serif; */
    font-family: "Arsenal SC", sans-serif;
    font-style: normal;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);

    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #E7CD9A;
    }

    h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #DFDFDD;
        letter-spacing: 1px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 1px;
        color: #DFDFDF;
    }

    h3 {
        font-weight: 400;
        font-size: 22px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #E6CC9A 
    }

    .contact-button {
        text-shadow: none;
        margin-top: 20px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #DFDFDF;
        color: #5A1818;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        border-radius: 10px;
        transition: background 0.8s, transform 0.8s;

        &:hover {
            background-color: #b5a179;
            transform: scale(1.05);
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
        }
    }

    .modal {
        text-shadow: none;
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background: #DFDFDF;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 90%;
        max-width: 400px;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .modal-button {
        font-size: 18px;
        display: block;
        padding: 12px;
        margin: 10px 0;
        background-color: #5A1818;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background 0.5s;
    }

    .modal-button:hover {
        background-color: #3c0e13;
    }

    h5 {
        font-size: 23px;
    }

    p1 {
        font-size: 20px;
    }
}

.comandos__item {
    display: flex;
    justify-content: space-between;
    padding: 60px;

    img {
        max-width: 300px;
        width: 100%;
        border-radius: 3%;
    }
}

.comandos__item img {
    opacity: 0;
    transform: translateX(-150px);
    transition: transform 1.7s ease, opacity 1.7s ease;
}

.comandos__item img.show-on-scroll {
    opacity: 1;
    transform: translateX(0);
}

.contact__comandos {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info__comandos {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    ul {
        font-family: "Arsenal SC", sans-serif;
        list-style: none;
        color: #E6CC9A;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 1.3px;


        li {
            margin: 3vh auto;
            position: relative;
            padding-left: 30px;
            text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/znak/kv.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 11px;
                height: 11px;
            }
        }

    }
}


.footer {
    background-color: #54141C;
    border-top: 2px solid rgba(189, 188, 188, 0.5);
    box-shadow: 0px 4px 4px 7px rgba(0, 0, 0, 0.7);
}

.footer__inner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;

    .geo {
        display: flex;
        align-items: center;

        img {
            height: 20px;
            margin-right: 8px;
        }
    }

    .mail {
        display: flex;
        align-items: center;

        img {
            height: 20px;
            margin-right: 8px;
        }
    }

    h3 {
        color: #E6CC9A;
        font-family: "Arsenal SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        letter-spacing: 1.3px;
        text-align: left;

    }

    .footer__contacts {
        img {
            margin: 0 10px;
            width: 30px;
        }
    }
}

.burger {
    margin-right: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    border-block: 2px solid #E6CC9A;
    width: 24px;
    height: 18px;
    display: none;

    span {
        height: 2px;
        background-color: #E6CC9A;
        display: block;
    }


}

@media(max-width: 950px) {
    .h_logo {
        height: 40px;
    }

    .burger {
        display: block;
        z-index: 9999;
    }

    .menu {
        display: none;
    }

    nav.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 60px;
        width: 200px;
        height: 200px;
        padding-top: 20px;
        row-gap: 30px;
        background-color: rgba(84, 20, 28, 0.8);
        z-index: 100;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin: 0;
    }

    .footer__inner .mail {
        display: none;
    }

    .comandos {
        .comandos__item {
            flex-direction: column;
            align-items: center;
            padding: 30px 20px;
            gap: 20px;

            img {
                max-width: 600px;
            }

            .contact__comandos,
            .info__comandos {
                text-align: center;
            }

            .info__comandos {
                ul {
                    font-size: 17px;
                    letter-spacing: 1px;

                    li {
                        margin: 2vh auto;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .footer__inner .footer__contacts {
        img {
            margin: 0 4px;
            width: 20px;
        }
    }

    .footer__inner .geo {
        h3 {
            font-size: 13px;
            letter-spacing: 1px;
        }

        img {
            height: 15px;
            margin-right: 5px;
        }
    }

    .comandos .comandos__item {
        h1 {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 2px;
        }

        h2 {
            font-size: 16px;
            line-height: 20px;
        }

        p {
            font-size: 15px;
            line-height: 30px;
        }

        h3 {
            font-size: 18px;
        }
    }

    .comandos .info__comandos {
        ul {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 1px;

            li {
                margin: 1vh auto;
            }
        }
    }
}